-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: wayne_security
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_customuser`
--

DROP TABLE IF EXISTS `core_customuser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_customuser` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `user_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_customuser`
--

LOCK TABLES `core_customuser` WRITE;
/*!40000 ALTER TABLE `core_customuser` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_customuser` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_customuser_groups`
--

DROP TABLE IF EXISTS `core_customuser_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_customuser_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `customuser_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_customuser_groups_customuser_id_group_id_7990e9c6_uniq` (`customuser_id`,`group_id`),
  KEY `core_customuser_groups_group_id_301aeff4_fk_auth_group_id` (`group_id`),
  CONSTRAINT `core_customuser_grou_customuser_id_976bc4d7_fk_core_cust` FOREIGN KEY (`customuser_id`) REFERENCES `core_customuser` (`id`),
  CONSTRAINT `core_customuser_groups_group_id_301aeff4_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_customuser_groups`
--

LOCK TABLES `core_customuser_groups` WRITE;
/*!40000 ALTER TABLE `core_customuser_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_customuser_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_customuser_user_permissions`
--

DROP TABLE IF EXISTS `core_customuser_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_customuser_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `customuser_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_customuser_user_per_customuser_id_permission_49ea742a_uniq` (`customuser_id`,`permission_id`),
  KEY `core_customuser_user_permission_id_80ceaab9_fk_auth_perm` (`permission_id`),
  CONSTRAINT `core_customuser_user_customuser_id_ebd2ce6c_fk_core_cust` FOREIGN KEY (`customuser_id`) REFERENCES `core_customuser` (`id`),
  CONSTRAINT `core_customuser_user_permission_id_80ceaab9_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_customuser_user_permissions`
--

LOCK TABLES `core_customuser_user_permissions` WRITE;
/*!40000 ALTER TABLE `core_customuser_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_customuser_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_dispositivo`
--

DROP TABLE IF EXISTS `core_dispositivo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_dispositivo` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descricao` longtext COLLATE utf8mb4_unicode_ci,
  `ultima_manutencao` date NOT NULL,
  `ativo` tinyint(1) NOT NULL,
  `secret` tinyint(1) NOT NULL,
  `imagem` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_dispositivo`
--

LOCK TABLES `core_dispositivo` WRITE;
/*!40000 ALTER TABLE `core_dispositivo` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_dispositivo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_equipamento`
--

DROP TABLE IF EXISTS `core_equipamento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_equipamento` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descricao` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `ultima_manutencao` date NOT NULL,
  `secret` tinyint(1) NOT NULL,
  `imagem` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_equipamento`
--

LOCK TABLES `core_equipamento` WRITE;
/*!40000 ALTER TABLE `core_equipamento` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_equipamento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_estoquedispositivo`
--

DROP TABLE IF EXISTS `core_estoquedispositivo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_estoquedispositivo` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `localizacao` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantidade` int unsigned NOT NULL,
  `dispositivo_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_estoquedispositivo_dispositivo_id_localizacao_5dcaaaf9_uniq` (`dispositivo_id`,`localizacao`),
  CONSTRAINT `core_estoquedisposit_dispositivo_id_9c2e9dbd_fk_core_disp` FOREIGN KEY (`dispositivo_id`) REFERENCES `core_dispositivo` (`id`),
  CONSTRAINT `core_estoquedispositivo_chk_1` CHECK ((`quantidade` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_estoquedispositivo`
--

LOCK TABLES `core_estoquedispositivo` WRITE;
/*!40000 ALTER TABLE `core_estoquedispositivo` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_estoquedispositivo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_estoqueequipamento`
--

DROP TABLE IF EXISTS `core_estoqueequipamento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_estoqueequipamento` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `localizacao` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantidade` int unsigned NOT NULL,
  `equipamento_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_estoqueequipamento_equipamento_id_localizacao_d66a2dd1_uniq` (`equipamento_id`,`localizacao`),
  CONSTRAINT `core_estoqueequipame_equipamento_id_c27c9c61_fk_core_equi` FOREIGN KEY (`equipamento_id`) REFERENCES `core_equipamento` (`id`),
  CONSTRAINT `core_estoqueequipamento_chk_1` CHECK ((`quantidade` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_estoqueequipamento`
--

LOCK TABLES `core_estoqueequipamento` WRITE;
/*!40000 ALTER TABLE `core_estoqueequipamento` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_estoqueequipamento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_estoqueveiculo`
--

DROP TABLE IF EXISTS `core_estoqueveiculo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_estoqueveiculo` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `localizacao` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantidade` int unsigned NOT NULL,
  `veiculo_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_estoqueveiculo_veiculo_id_localizacao_ca37df1b_uniq` (`veiculo_id`,`localizacao`),
  CONSTRAINT `core_estoqueveiculo_veiculo_id_9bac6a4c_fk_core_veiculo_id` FOREIGN KEY (`veiculo_id`) REFERENCES `core_veiculo` (`id`),
  CONSTRAINT `core_estoqueveiculo_chk_1` CHECK ((`quantidade` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_estoqueveiculo`
--

LOCK TABLES `core_estoqueveiculo` WRITE;
/*!40000 ALTER TABLE `core_estoqueveiculo` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_estoqueveiculo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_ordemcompra`
--

DROP TABLE IF EXISTS `core_ordemcompra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_ordemcompra` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tipo_item` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `item_id` int unsigned NOT NULL,
  `quantidade` int unsigned NOT NULL,
  `destino` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `data_criacao` datetime(6) NOT NULL,
  `data_realizacao` datetime(6) DEFAULT NULL,
  `autorizado_por_id` bigint DEFAULT NULL,
  `criado_por_id` bigint NOT NULL,
  `realizado_por_id` bigint DEFAULT NULL,
  `origem_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `core_ordemcompra_autorizado_por_id_fc22343f_fk_core_cust` (`autorizado_por_id`),
  KEY `core_ordemcompra_criado_por_id_fdf68fdd_fk_core_customuser_id` (`criado_por_id`),
  KEY `core_ordemcompra_realizado_por_id_acdd4876_fk_core_customuser_id` (`realizado_por_id`),
  KEY `core_ordemcompra_origem_id_2302f63d_fk_core_solicitacaocompra_id` (`origem_id`),
  CONSTRAINT `core_ordemcompra_autorizado_por_id_fc22343f_fk_core_cust` FOREIGN KEY (`autorizado_por_id`) REFERENCES `core_customuser` (`id`),
  CONSTRAINT `core_ordemcompra_criado_por_id_fdf68fdd_fk_core_customuser_id` FOREIGN KEY (`criado_por_id`) REFERENCES `core_customuser` (`id`),
  CONSTRAINT `core_ordemcompra_origem_id_2302f63d_fk_core_solicitacaocompra_id` FOREIGN KEY (`origem_id`) REFERENCES `core_solicitacaocompra` (`id`),
  CONSTRAINT `core_ordemcompra_realizado_por_id_acdd4876_fk_core_customuser_id` FOREIGN KEY (`realizado_por_id`) REFERENCES `core_customuser` (`id`),
  CONSTRAINT `core_ordemcompra_chk_1` CHECK ((`item_id` >= 0)),
  CONSTRAINT `core_ordemcompra_chk_2` CHECK ((`quantidade` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_ordemcompra`
--

LOCK TABLES `core_ordemcompra` WRITE;
/*!40000 ALTER TABLE `core_ordemcompra` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_ordemcompra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_requisicaomovimentacao`
--

DROP TABLE IF EXISTS `core_requisicaomovimentacao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_requisicaomovimentacao` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tipo_item` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `item_id` int unsigned NOT NULL,
  `destino` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantidade` int unsigned NOT NULL,
  `data_criacao` datetime(6) NOT NULL,
  `autorizador_id` bigint DEFAULT NULL,
  `autorizado` tinyint(1) NOT NULL,
  `origem` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `solicitante_id` bigint NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_requisicaomovim_autorizador_id_31ffbd89_fk_core_cust` (`autorizador_id`),
  KEY `core_requisicaomovim_solicitante_id_44e985e7_fk_core_cust` (`solicitante_id`),
  CONSTRAINT `core_requisicaomovim_autorizador_id_31ffbd89_fk_core_cust` FOREIGN KEY (`autorizador_id`) REFERENCES `core_customuser` (`id`),
  CONSTRAINT `core_requisicaomovim_solicitante_id_44e985e7_fk_core_cust` FOREIGN KEY (`solicitante_id`) REFERENCES `core_customuser` (`id`),
  CONSTRAINT `core_requisicaomovimentacao_chk_1` CHECK ((`item_id` >= 0)),
  CONSTRAINT `core_requisicaomovimentacao_chk_2` CHECK ((`quantidade` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_requisicaomovimentacao`
--

LOCK TABLES `core_requisicaomovimentacao` WRITE;
/*!40000 ALTER TABLE `core_requisicaomovimentacao` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_requisicaomovimentacao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_solicitacaocompra`
--

DROP TABLE IF EXISTS `core_solicitacaocompra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_solicitacaocompra` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tipo_item` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `item_id` int unsigned NOT NULL,
  `quantidade` int unsigned NOT NULL,
  `destino` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `data_criacao` datetime(6) NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `criado_por_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_solicitacaocomp_criado_por_id_cff971bd_fk_core_cust` (`criado_por_id`),
  CONSTRAINT `core_solicitacaocomp_criado_por_id_cff971bd_fk_core_cust` FOREIGN KEY (`criado_por_id`) REFERENCES `core_customuser` (`id`),
  CONSTRAINT `core_solicitacaocompra_chk_1` CHECK ((`item_id` >= 0)),
  CONSTRAINT `core_solicitacaocompra_chk_2` CHECK ((`quantidade` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_solicitacaocompra`
--

LOCK TABLES `core_solicitacaocompra` WRITE;
/*!40000 ALTER TABLE `core_solicitacaocompra` DISABLE KEYS */;
INSERT INTO `core_solicitacaocompra` VALUES (1,'dispositivo',1,40,'WEST_TOWN','2025-07-14 18:08:28.194045','convertida',4);
/*!40000 ALTER TABLE `core_solicitacaocompra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_veiculo`
--

DROP TABLE IF EXISTS `core_veiculo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_veiculo` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tipo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descricao` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `modelo` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ultima_manutencao` date NOT NULL,
  `ativo` tinyint(1) NOT NULL,
  `secret` tinyint(1) NOT NULL,
  `imagem` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_veiculo`
--

LOCK TABLES `core_veiculo` WRITE;
/*!40000 ALTER TABLE `core_veiculo` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_veiculo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext COLLATE utf8mb4_unicode_ci,
  `object_repr` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_core_customuser_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_core_customuser_id` FOREIGN KEY (`user_id`) REFERENCES `core_customuser` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(3,'auth','group'),(2,'auth','permission'),(4,'contenttypes','contenttype'),(9,'core','customuser'),(6,'core','dispositivo'),(7,'core','equipamento'),(10,'core','estoquedispositivo'),(11,'core','estoqueequipamento'),(12,'core','estoqueveiculo'),(14,'core','ordemcompra'),(13,'core','requisicaomovimentacao'),(15,'core','solicitacaocompra'),(8,'core','veiculo'),(5,'sessions','session');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `session_data` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
INSERT INTO `django_session` VALUES ('z3itlyqb3y0d8xs1q8yyc5envafgtroc','.eJxVjDsOwjAQBe_iGlk28ZeSPmew1rsbHEC2FCcV4u4QKQW0b2beSyTY1pK2zkuaSVyEF6ffLQM-uO6A7lBvTWKr6zJnuSvyoF2Ojfh5Pdy_gwK9fGtQhgMZ57VSqDkqpxyGEJCIM7JBl611Z6u9RUIwHqOKkWHIMAzT5MX7A-T6ODo:1ubOSR:MPKPCW5g_6S-wXG-me9wp638hO_yqLxBEdg91n0QQBU','2025-07-28 19:03:23.062705');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-07-14 17:30:56
