<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dispositivos</title>
</head>
<body>
    <h1>Lista de Dispositivos</h1>
    <p>Usuário: {{ request.user.username }} ({{ request.user.get_user_type_display }})</p>
    <h2>Dispositivos</h2>

    {% for item in dispositivos %}
        <p>
            <strong>{{ item.obj.nome }} — Total: {{ item.total }}</strong> 
            {% if item.obj.secret %} 
                <span style="color:red;">[SECRETO]</span>
            {% endif %} <br>
            {{ item.obj.descricao }}
        </p>
        <ul>
            {% for est in item.estoques %}
                <li>
                    {{ est.get_localizacao_display }}
                    — {{ est.quantidade }}
                    {% if est.localizacao in localizacoes_secretas %}
                        <span style="color:red;">[SECRETO]</span>
                    {% endif %}
                </li>
            {% empty %}
                <li>Sem estoque visível</li>
            {% endfor %}
        </ul>
    {% endfor %}

    <p><a href="{% url 'dashboard' %}">← Voltar ao Dashboard</a></p>
</body>
</html>


